<%- include partials/header %>

<h1><%= post.title %></h1>
<p><%= post.content %></p>

<form action="/delete" method="post">
    <button type="submit" name = "button" value="<%= post._id %>" style="display:inline">Delete</button>
</form>

<%- include partials/footer %>